# Node modules (non vogliamo caricare tutta la roba installata)
node_modules/

# Output della build (vercel lo rigenera)
dist/
.vite/

# Log e debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File temporanei
*.local
*.sublime-workspace
*.swp

# Mac
.DS_Store

# VS Code config (se vuoi tenerlo personale)
.vscode/

# Ambiente/env
.env
.env.*
